<h1 class="dashboard-title">Admin Dashboard</h1>
<div class="jumbotron">
  <h2 class="dashboard-text">Total number of products: <%= @no_of_products%></h2>
  <hr class="my-4">
  <h2 class= "dashboard-text">Total number of categories: <%= @no_of_categories%></h2>
</div>

